.aboutInfo{
  margin-top: 125px;
  width: 200%;
  margin-bottom: 2.5%;
}

.image {
  width: 125px;
  height: 125px;
  border-radius: 45% 10% 45% 45%;
  background: white;
  border: 5px solid #a3568e;
  display: inline-block;
  overflow: hidden;
}

.bio {
  text-align: left;
  width: 375px;
  height: 375px;
  border-radius: 10% 45% 45% 45%;
  background: white;
  border: 5px solid #a3568e;
  display: inline-block;
  padding: 1%;
  box-sizing: border-box;
  shape-outside: circle(70% at 0% 50%) border-box;
  shape-margin: 2em;
}
