.contactInfo{
  width: 200%;
  height: auto;
  margin-top: 125px;
}

.form{
  width: 375px;
  height: 375px;
  border-radius: 50%;
  background: white;
  border: 5px solid #ff8456;
  float: right;
  padding: 2%;
  box-sizing: border-box;
}
